@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
body {
  background: #f6f7fc;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 2px 3px 2px rgba(51, 55, 69, 0.6);
}
/*
.social-media{
        height:500px ;
        width:500;
        border: 5px solid black;
        background-color: black;
}*/

a{
  text-decoration: none;
}
.row{
    margin:5px;
}
#nav-text{
  text-align: center;
  background: #7a41ff;
  background: linear-gradient(to bottom, #cfc7e0, #7838df);
  dispaly: flex;
}
.h6{
    font-size: 200px;
}
/*
#social-media{
  position: absolute;
  top: 100%;
  left: 50%;
  padding: 15px;
  text-align: center;
  align-items: center;
  transform: translate(-50%, -50%);
  display: flex;
 
}*/
.card {
  /*width: 150px;
  height: 350px;*/
 padding: 35px;
  margin:10px;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 10%;
  overflow: hidden;
  box-shadow: 2px 2px 46px -4px rgba(0, 0, 0, 0.6);
  transition: all 0.2s ease-in-out;
}
/*instagram
#pricing-table .card:nth-child(1) {
  background: #ff416c;
  background: linear-gradient(to right, #ff4b2b, #f15e81);
}
 
#pricing-table .card:nth-child(1) .symbol::before {
  transform: rotate(55deg);
  content: "instagram";
  position: absolute;
  left: 0%;
  top: 0%;
  font-size: 55px;
}


/*whatsapp
#pricing-table .card:nth-child(2) {
  z-index: 2;
  width: 100px;
  height: 200px;
  margin:5px;
  background: #00b09b;
  background: linear-gradient(to right, #96c93d, #00b09b);
}
 
#pricing-table .card:nth-child(2) #symbol::before {
  transform: rotate(55deg);
  content: "whatsapp";
  position: absolute;
  left: 0%;
  top: 0%;
  font-size: 55px;
}


/*facebook
#pricing-table .card:nth-child(3) {
  background: #7f7fd5;
  background: linear-gradient(to left, #91eae4, #86a8e7, #7f7fd5);
}
#pricing-table .card:nth-child(3) #symbol::before {
  transform: rotate(55deg);
  content: "facebook";
  position: absolute;
  left: 0%;
  top: 0%;
  font-size: 55px;
}

/*instagram and whatsapp
#pricing-table .card:nth-child(1) #symbol, #pricing-table .card:nth-child(3) #symbol {
  font-size: 6rem;
}


/*
#type {
  margin-top: 20px;
  letter-spacing: 0.1rem;
  font-size: 30px;
}
#symbol {
  font-size: 7.5rem;
  position: relative;
  margin: -70px 0px 20px;
  z-index: 2;
}
.pricing-table .card #symbol span {
  font-size: 1.8rem;
  position: absolute;
  left: -15%;
  top: 65%;
}

/*
#pricing-table .card #symbol::before {
  position: absolute;
  content: "";
  color: rgba(255, 255, 255, 0.06);
  font-size: 9.5rem;
  z-index: -1;
  right: -30%;
  bottom: 15%;
  text-shadow: 0 0 0px rgba(51, 55, 69, 0);
  transition: all 1s ease-in-out;
}


/*plan
.plan {
  font-size: 1.3rem;
  position: relative;
  margin-bottom: 10px;
}
.plan::before, .plan::after {
  position: absolute;
  content: ;
  width: 25px;
  height: 3px;
  background: #fff;
  bottom: 40%;
  transition: all 0.2s ease-out;
}
.plan::before {
  right: 100%;
  transform: translate(-50%, -50%);
}
.plan::after {
  right: -100%;
  transform: translate(0%, -50%);
}


/*card shake
#pricing-table .card:hover {
  transform: scale(1.02);
}

/*baground shake
#pricing-table .card:hover #symbol::before {
  animation: text-hover 1s ease-in-out infinite normal;
}
#pricing-table .card:hover .plan::before {
  right: 90%;
}
#pricing-table .card:hover .plan::after {
  right: -90%;
}

/*button
#card:nth-child(1) .buy-button,.card:nth-child(3) .buy-button {
  position: absolute;
  right: -34%;
  bottom: -27%;
  width: 20px;
  height: 10px;
}
#pricing-table .card .buy-button {
  cursor: pointer;
  position: absolute;
  width: 250px;
  height: 150px;
  background: #fff;
  border-radius: 35%;
  right: -34%;
  bottom: -27%;
  transition: all 0.4s ease-in-out;
}
#pricing-table .card .buy-button h3 {
  text-shadow: 0 0 0;
  text-decoration: none;
  position: absolute;
  left: 25%;
  font: 2.5rem bold;
  transition: all 0.4s ease-in-out;
}/*
.pricing-table .card:nth-child(1) .buy-button h3, .pricing-table .card:nth-child(3) .buy-button h3 {
  top: -15%;
  left: 10%;
  font: 1.7rem bold;
}*/


/*button cetner
#pricing-table .card:hover .buy-button {
  width: 100%;
  right: 0%;
  border-radius: 0%;
}
#pricing-table .card:hover .buy-button h3 {
  left: 50%;
  transform: translate(-50%, 0%);
}

@keyframes text-hover {
  0% {
    right: -30%;
  }
  50% {
    right: -37%;
  }
  100% {
    right: -30%;
  }
}
