#snapchat{
               height: 30vh;
               width: 100%;
                display: flex;
                position: relative;
                align-items: center;
                justify-content: center;
                align-items: center;
}
.snapchat{
        
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        align-items: center;
        height: 200px;
        width: 200px;
        border-radius: 5%;
        background-color: #FFFC00;
        background-image: url("Snapchat-1544277509.jpg");
        background-size: cover;
        background-repeat: no-repeat;
       cursor: pointer;         
      

}
