#snapchat{
               height: 40vh;
               width: 100%;
        
}
.snapchat{
        align-items: center;
        justify-content: center;
        align-items: center;
        display: flex;
        position: absolute;
        right: 50%;
        height: 200px;
        width: 200px;
        border-radius: 5%;
        background-color: #FFFC00;
       cursor: pointer;         


}
